$desktop: 1280px;

.container {
  min-width: 200px;
  max-width: var(--mobile);
  width: 100%;
  margin: auto;

  @media screen and (min-width: $desktop) {
    min-width: var(--desktop);
    max-width: 1920px;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;

  li {
    line-height: 50px;
    width: 100%;
    text-align: center;

    &:hover {
      background-color: var(--primary);
    }
  }
}

.mobile {
  height: 100%;
  display: block !important;

  @media screen and (min-width: $desktop) {
    display: none !important;
  }
}

.desktop {
  height: 100%;
  display: none !important;

  @media screen and (min-width: $desktop) {
    display: block !important;
  }
}
