$desktop: 1280px;

#side-nav {
  width: 50px;
  height: 100%;
  background-color: var(--primary_dark);
  box-shadow: 4px 0 5px var(--primary_light);
  color: var(--white);
  display: inline-block;

  @media screen and (min-width: $desktop) {
    width: 150px;
  }

  .main {
    line-height: 150px;
    border-bottom: 2px solid var(--secondary);
    background-color: var(--primary);
  }

  a {
    color: var(--white) !important;
    text-decoration: none;
    display: block;

    &:visited {
      color: var(--white);
    }
  }

  span svg {
    vertical-align: middle;
  }
}
