#root {
  --black: #222222;
  --white: #f6f6f6;
  --earth_white: #f1f1ef;

  --primary: #5d82bb;
  --primary_dark: #3d4f7b;
  --primary_light: #c2d2e9;

  --secondary: #ffab71;
  --secondary_dark: #ea792e;
  --secondary_light: #ffd1b1;
}
